.login-panel.panel.panel-default
  .panel-heading
    %h3.panel-title Sign up
  .panel-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: '', role: 'form'}) do |f|
      %fieldset
        = f.label 'Email'
        = f.input_field :email, required: true, autofocus: true, class: 'form-control input-sm'
        = f.label 'Password'
        = f.input_field :password, required: true, class: 'form-control input-sm'
        = f.label 'Password confirmation'
        = f.input_field :password_confirmation, required: true, class: 'form-control input-sm'
        %br
        .form-actions
          = f.button :submit, "Sign up", class: 'btn btn-success'
        %br
    = render "devise/shared/links"
