.panel.panel-default
  .panel-heading
    %a.pull-right{:href => "#"} View all??????????
    %h4 Groups
    = link_to "New group", new_group_path, class: "button btn btn-lg btn-success"
  .panel-body
    - if @groups
      Group list:
      - @groups.each do |group|
        .list-group-item
          = group.name
          = link_to 'Show', group_path(group), class: 'btn btn-info'
          - if can? :destroy, group
            = link_to 'Delete', group_path(group), method: :delete, class: 'btn btn-danger pull-right'
          - if can? :update, group
            = link_to 'Update', edit_group_path(group), class: 'btn btn-warning pull-right'
    - else
      nie należysz do żadnej grupy
