.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4= "Name: #{@group.name}"
      .panel-body
        %p
          %img.img-circle.pull-right{:src => "//placehold.it/100"}/
          Participants:
          %ul
            - @group.users.each do |user|
              %li
                = user.email
        .clearfix
        %hr/
        Owner:
        = @group.owner.email
  - if can? :update_users, @group
    .col-sm-6
      .well
        %h4 Add new member
        .form-group
          = simple_form_for @group, url: update_users_group_path, method: 'post' do |f|
            = f.input :user_tokens, label: false, input_html: { data: { pre: @preload_users, url: other_users_group_path(@group) } }
            = f.submit 'Apply changes', class: 'btn btn-success'

= link_to 'Back', groups_path, class: 'btn btn-default center-block'
