Name:
= @group.name
%br
Owner:
= @group.owner.email
- if can? :owner, @group

  = simple_form_for @group, url: add_users_group_path, method: 'post' do |f|
    = f.association :users, label: 'new participant', as: :select, collection: users_for_select(@group)
    = f.submit 'Dodaj'
%br
Participants:
%ul
  - @group.users.each do |user|
    %li
      = user.email
      - if can? :owner, @group
        = link_to delete_user_group_path(@group, user_id: user.id) do
          %i{ class: 'fa fa-remove'}

= link_to 'Back', groups_path
