Name:
= @group.name
%br
Owner:
= @group.owner.email
- if can? :owner, @group

  = simple_form_for @group, url: update_users_group_path, method: 'post' do |f|
    = f.input :user_tokens, label: 'Members:', input_html: { data: { pre: @preload_users } }
    = f.submit 'apply changes'

= link_to 'Back', groups_path
