<div class="modal-backdrop fade">&nbsp;
</div>
<div class="modal fade show" >
  <div class="modal-dialog">

    {{#if isLink}}

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" {{action 'close'}}>&times;</button>
          {{#if isNew}}
            <h3>Create Link</h3>
          {{else}}
            <h3>Editing: {{unbound title}}</h3>
          {{/if}}
        </div>
        <form {{action save on="submit"}}>
        <div class="modal-body">
          <div class="modal-body">
            <div {{bind-attr class="errors.title:error :field"}}>
              <label>Title</label>
              {{view Ember.TextField valueBinding="title"}}
              {{#each error in errors.title}}{{error.message}}{{/each}}
            </div>
            <div {{bind-attr class="errors.description:error :field"}}>
              <label>Description</label>
              {{view Ember.TextArea valueBinding="description"}}
              {{#each error in errors.description}}{{error.message}}{{/each}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" {{bind-attr disabled="shouldDisableSubmit"}}>Save</button>
          <button {{action 'close'}}>Cancel</button>
          {{#if isSaving}}
            <img src="{{unbound App.AJAX_LOADER_IMG}}" alt="Loading..." class="ajax-loader">
            Saving...
          {{/if}}
        </div>
        </form>
      </div>

    {{ else }}

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" {{action 'close'}}>&times;</button>
          {{#if isNew}}
            <h3>Create Note</h3>
          {{else}}
            <h3>Editing: {{unbound title}}</h3>
          {{/if}}
        </div>
        <form {{action 'save' on="submit"}}>
        <div class="modal-body">
          <div class="modal-body">
            <div {{bind-attr class="errors.body:error :field"}}>
              <label>Body</label>
              {{view Ember.TextArea valueBinding="body"}}
              {{#each error in errors.body}}{{error.message}}{{/each}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" {{bind-attr disabled="shouldDisableSubmit"}}>Save</button>
          <button {{action 'close'}}>Cancel</button>
          {{#if isSaving}}
            <img src="{{unbound App.AJAX_LOADER_IMG}}" alt="Loading..." class="ajax-loader">
            Saving...
          {{/if}}
        </div>
        </form>
      </div>

    {{/if}}
  </div>
</div>


