.box
  .box-header
    %span.title
      Config
  .box-content
    = form_tag admin_configurable_path, method: :put, html: { class: "form-horizontal fill-up validatable" } do
      .padded
        - Configurable.keys.each do |key|
          - options = Configurable.defaults[key]
          .form-group{style: 'clear: both;'}
            = label_tag key, options[:name], class: "label-config"
            - if options[:type] == 'boolean'
              = hidden_field_tag key, "0"
              = check_box_tag key, "1", Configurable.send(key)
            - elsif options[:type] == 'password'
              = password_field_tag key, Configurable.send(key), style: "width: 80%"
            - elsif options[:type] == 'text'
              = text_area_tag key, Configurable.send(key), style: "width: 80%"
            - elsif options[:type] == 'list'
              = text_area_tag key, Configurable.send(key).collect{ |a| a.join(",")}.join("\n"), style: "width: 80%"
            - else
              = text_field_tag key, Configurable.send(key), style:"width: 80%"
      .form-actions
        = submit_tag t('common.save', default: "Save"), class: "btn btn-blue"