<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h4 class="white-gradient ellipsis block"><i class="fa fa-newspaper-o"> {{ title }}</i></h4>
  </div>
  <form {{action 'save' on="submit"}}>
  <div class="modal-body">
      <div {{bind-attr class="errors.title:error :field"}}>
        {{view Ember.TextField valueBinding="title" class="form-control" placeholder="Title"}}
        {{#each error in errors.title}}{{error.message}}{{/each}}
      </div>

      <div {{bind-attr class="errors.body:error :field"}}>
        {{autosize-textarea valueBinding="body" class="form-control" placeholder="Body"}}
        {{#each error in errors.body}}{{error.message}}{{/each}}
      </div>

      {{ selected }}
     
      <div {{bind-attr class="errors.group:error :field"}}>
        {{view Ember.Select content = groups
           optionValuePath="content.id"
           optionLabelPath="content.name"
           valueBinding="group_id"
           selectionBinding="me"
           prompt="Choose one of the following."
           class='form-control'
        }}
        {{#each error in errors.group}}{{error.message}}{{/each}}
      </div>

      {{view Ember.TextField class="tm-input"}}

  </div>
  <div class="modal-footer">
    {{#if isSaving}}
      <img src="{{unbound EnlightenmentApp.AJAX_LOADER_IMG}}" alt="Loading..." class="ajax-loader">
      Saving...
    {{/if}}
    <button type="submit" {{bind-attr disabled="shouldDisableSubmit"}} class="btn btn-info">Save</button>
    <button {{action 'close'}} class="btn btn-default">Cancel</button>
  </div>
  </form>
</div>
