
{{#with controllers.content_entity.content}}
  {{ controllers.content_entity.content }}
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default" style="padding:10px;">
        <div class="panel-heading">
          <h4>Edit</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="control-label" for="inputTitle">Title</label>
                {{view Ember.TextField valueBinding=title id="inputTitle" classNames="form-control input-sm"}}
              </div>
              <div class="form-actions">
                <button class="btn btn-success" {{action 'update' this}}>Update</button>
              </div>
              {{!-- commented out }}
                <div class="form-group">
                  <label class="control-label col-lg-2" for="textareaDescription">Description</label>
                  <div class="col-lg-10">
                    {{view Ember.TextArea valueBinding=description classNames="form-control" id="textareaDescription"}}
                  </div>
                </div>
                <input type="hidden" {{bind-attr value=guid}} id="guid"/>
              {{ --}}
            </fieldset>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
{{/with}}
