<h2>{{type}} {{title}}</h2>
{{#if isLink}}
  <p><a target="_blank" {{bind-attr href='fullAddress'}}>{{fullAddress}}</a></p>
{{else}}
  <p>{{{body}}}</p>
{{/if}}
<p>{{{updated_at}}}</p>

<br>
<br>
<br>
<br>
Comments:

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Commenter name</h4>
    <i>Date</i>
  </div>
  <div class="panel-body">
    <div class="clearfix"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
      Aliquam in felis sit amet augue.
  </div><!--/panel-body-->
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Commenter name</h4>
    <i>Date</i>
  </div>
  <div class="panel-body">
    <div class="clearfix"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
      Aliquam in felis sit amet augue.
  </div><!--/panel-body-->
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Commenter name</h4>
    <i>Date</i>
  </div>
  <div class="panel-body">
    <div class="clearfix"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
      Aliquam in felis sit amet augue.
  </div><!--/panel-body-->
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Commenter name</h4>
    <i>Date</i>
  </div>
  <div class="panel-body">
    <div class="clearfix"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
      Aliquam in felis sit amet augue.
  </div><!--/panel-body-->
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Commenter name</h4>
    <i>Date</i>
  </div>
  <div class="panel-body">
    <div class="clearfix"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
      Aliquam in felis sit amet augue.
  </div><!--/panel-body-->
</div>

<ul class="pagination center-block" style="display:inline-block;">
  <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul>
