{{ outlet }}
<div class="well">

<button {{action 'confirmDelete' this}} class="btn btn-large btn-danger pull-right" id="destroy_button">Delete <i class="fa fa-trash"></i></button>
<button {{action edit this}} class="btn btn-large btn-warning pull-right" id="edit_button">Edit <i class="fa fa-pencil"></i></button>

{{#if isLink}}
  <h1 id="section1">{{title}}</h1>
  <hr>
  <p>{{description}}</p>
  <a target='_blank' {{bind-attr href='fullAddress'}}>
    <img {{bind-attr src=image}}/>
  </a>
  <br/>
  <br/>
  <p><a target="_blank" {{bind-attr href='fullAddress'}} class="btn btn-primary">{{fullAddress}}</a></p>
{{else}}
  <h1 id="section1">{{title}}</h1>
  <hr>
  <p style="white-space: pre-wrap;">{{body}}</p>
{{/if}}

<hr/>

<i class="fa fa-clock-o pull-right" id="show_date" data-toggle="tooltip" data-placement="top" {{bind-attr title=formatedDate}}> {{{date updated_at}}}</i>
<i {{bind-attr class='group.icon'}}></i> {{{group.name}}}</i><br>
<i class="fa fa-tag"></i> TAGS HERE</i>
<i class="fa fa-tag"></i> #TAG2</i>
</div>

<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addComment" this on="submit"}}>
      <div class="input-group" style="padding:14px;">
        {{button-input valueBinding="commentBody" class="form-control" placeholder="Enter your comment here!" required="true"}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="add_button" style="height: 100%; margin: 0; padding: 0; width: 50px;">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>

<h2><i class="fa fa-comments"> Comments ({{comments.length}}) </i></h2>
{{#each comment in comments}}
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#if comment.can_destroy}}
        <small style="font-family:courier,'new courier';" class="text-muted pull-right">
          <button {{action 'deleteComment' comment}} class="btn btn-large btn-danger" id="destroy_button"><i class="fa fa-trash"></i></button>
        </small>
      {{/if}}
      <img {{bind-attr src=comment.avatar}} style="width:60px;height:60px" class="img-circle"/>
      {{comment.commenter_name}}
      <i class="fa fa-clock-o date" id="show_date" data-toggle="tooltip" data-placement="top" {{bind-attr title=comment.formatedDate}}> {{{date comment.updated_at}}}</i>
      <p class="ellipsis block" style="white-space: pre-wrap;">
        {{{comment.content}}}
      </p>
    </div>
  </div>
{{/each}}
