<h2>{{type}} {{title}}</h2>
<p>{{{_content}}}</p>
{{#link-to "content_entity" content_entity}}{{content_entity._content}}{{/link-to}}
<p>{{{updated_at}}}</p>

<br>
<br>
<br>
<br>
Comments here:

#TODO
