<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addEntry" on="submit"}}>
    <h4>Add content</h4>
      <div class="form-group" style="padding:14px;">
        {{view Ember.TextArea name='content_entity[content]' valueBinding="newEntryName" class="form-control"}}
      </div>
      <button class="btn btn-success" type="submit">Add
      </button>
    </form>
  </div>
</div>

<h1>List</h1>

{{#each content_entity in paginatedContent}}
  <h2>{{content_entity.type}} {{content_entity.title}}</h2>
  {{#link-to "content_entity" content_entity}}{{content_entity._content}}{{/link-to}}
  <p>{{{content_entity.updated_at}}}</p>
{{/each}}

{{pagination-links page=page pages=pages}}

{{!--}

{{#each entries}}
<h2>Link or note.. </h2>
<p>{{name}}</p>
{{/each}}

{{--}}
