<div id="container">
  <h1>Add content</h1>
  <form class="form-horizontal" {{action "addEntry" on="submit"}}>
    {{view Ember.TextArea name='content_entity[content]' valueBinding="newEntryName"}}
    <button type="submit" class="btn">Save</button>
  </form>
</div>

<h1>Conent Entities List</h1>

{{!--}

{{#each entries}}
<h2>Link or note.. </h2>
<p>{{name}}</p>
{{/each}}

{{--}}

{{#each content_entity in paginatedContent}}
  {{render "content_entity" content_entity}}
{{/each}}

{{pagination-links page=page pages=pages}}
