<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addEntry" on="submit"}}>
    <h4>Add content</h4>
      <div class="form-group" style="padding:14px;">
        {{view Ember.TextArea name='content_entity[content]' valueBinding="newEntryName" class="form-control" required="true"}}
      </div>
      <button class="btn btn-success" type="submit">Add
      </button>
    </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><h4>List</h4></div>
    <div class="panel-body">
      <div class="list-group">
      {{#each content_entity in paginatedContent}}
        {{#link-to "content_entity" content_entity class="list-group-item"}}
            <img alt="" src="https://dl.dropboxusercontent.com/u/57582960/doge.png" style="width:50px;height:50px" class="img-circle">
            <b>{{content_entity.type}}</b>
            <small style="font-family:courier,'new courier';" class="text-muted pull-right">
            {{{content_entity.updated_at}}}
            </small>
          <p class="ellipsis block">
            {{content_entity._content}}
          </p>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

{{pagination-links page=page pages=pages}}

{{!--}

{{#each entries}}
<h2>Link or note.. </h2>
<p>{{name}}</p>
{{/each}}

{{--}}
