<script>
  $('#container').on( 'keyup', 'textarea', function (e){
    $(this).css('height', 'auto' );
    $(this).height( this.scrollHeight );
    if (this.scrollHeight <= 300) {
      $('#add_button').css('height', this.scrollHeight)
    }
  });
  $('#container').find( 'textarea' ).keyup();
</script>

<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addEntry" on="submit"}}>
      <div class="input-group" style="padding:14px;">
        {{view Ember.TextArea name='content_entity[content]' valueBinding="newEntryName" class="form-control" required="true" id="textarea"}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="add_button">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="list-group">
  {{#each content_entity in paginatedContent itemController="ContentEntity"}}
    {{#link-to "content_entity" content_entity class="list-group-item"}}
      <img {{bind-attr src=content_entity.avatar}} style="width:50px;height:50px" class="img-circle">
      {{#if content_entity.isNote}}
        <i class="fa fa-newspaper-o fa-1x"></i>
      {{else }}
        <i class="fa fa-globe fa-1x"></i>
      {{/if }}
      <b>{{content_entity.title}}</b>
      <small style="font-family:courier,'new courier';" class="text-muted pull-right", type='date'>
        {{{showDate content_entity.updated_at}}}
      </small>
      <p class="ellipsis block">
        {{{content_entity.body}}}
      </p>
    {{/link-to}}
  {{/each}}
</div>

{{pagination-links page=page pages=pages}}
