{{ outlet }}
<div class="well">
{{#if isLink}}
  <h1 id="section1">{{title}}</h1>
  <p>{{description}}</p>
  <a target='_blank' {{bind-attr href='fullAddress'}}>
    <img {{bind-attr src=image}}/>
  </a>
  <p><a target="_blank" {{bind-attr href='fullAddress'}} class="btn btn-primary">{{fullAddress}}</a></p>
{{else}}
  <p>{{{formattedBody}}}</p>
{{/if}}

<span class="label label-default">{{{date updated_at}}}</span>
</div>

<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addComment" this on="submit"}}>
      <div class="input-group" style="padding:14px;">
        {{button-input valueBinding="commentBody" class="form-control" placeholder="Enter your comment here!"}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="add_button" style="height:75px;">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>

<h3>Comments</h3>
{{#each comment in comments}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <small style="font-family:courier,'new courier';" class="text-muted pull-right">
        {{{date comment.updated_at}}}
      </small>
      <h4>{{comment.user_id}}</h4>
    </div>
    <div class="panel-body">
      {{comment.content}}
    </div>
  </div>
{{/each}}
