<script>
  $('#container').on( 'keyup', 'textarea', function (e){
    $(this).css('height', 'auto' );
    $(this).height( this.scrollHeight );
    if (this.scrollHeight <= 300) {
      $('#add_button').css('height', this.scrollHeight)
    }
  });
  $('#container').find( 'textarea' ).keyup();
</script>

<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addEntry" on="submit"}}>
      <div class="input-group" style="padding:14px;">
        {{view Ember.TextArea name='content_entity[content]' valueBinding="newEntryName" class="form-control" required="true" id="textarea"}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="add_button">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="list-group">
  {{#each link in controller}}
    {{#link-to "link" link class="list-group-item"}}
      <img {{bind-attr src=link.avatar}} style="width:60px;height:60px" class="img-circle">
      <i class="fa fa-globe fa-2x"></i>
      <b>{{link.title}}</b>
      <small style="font-family:courier,'new courier';" class="text-muted pull-right">
        {{{showDate link.updated_at}}}
      </small>
      <p class="ellipsis block">
        {{{link.url}}}
      </p>
    {{/link-to}}
  {{/each}}
</div>
