<div class="container">
  <form {{action login content on="submit"}} class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
      {{#if errorMsg}}
        <div class="alert alert-error">
          {{errorMsg}}
        </div>
      {{/if}}
      {{view Em.TextField valueBinding="email" id="email" type="email" class="form-control" placeholder="Email address"}}

      {{view Ember.TextField valueBinding="password" type="password" class="form-control" placeholder="Password" id="password"}}

    <div class="form-actions">
      <button  type="submit" class="btn btn-primary" value="Login">Sign in</button>
      <input {{action cancel}} type="submit" class="btn btn-default" value="Cancel" />
    </div>
  </form>
</div>

