<script>
  // $('#container').on( 'keyup', 'textarea', function (e){
  //   $(this).css('height', 'auto' );
  //   $(this).height( this.scrollHeight );
  //   if (this.scrollHeight <= 300) {
  //     $('#add_button').css('height', this.scrollHeight)
  //   }
  // });
  // $('#container').find( 'textarea' ).keyup();
</script>

<div id="container">
  <div class="well">
    <form class="form-horizontal" role="form" {{action "addEntry" on="submit"}}>
      <div class="input-group" style="padding:14px;">
        {{button-input name='content_entity[content]' valueBinding="newEntryName" class="form-control" required="true" id="textarea"}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="add_button" style="height:75px;">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>


<div class="list-group">
  {{#each note in paginatedContent}}
    <div id="link_note">
      {{#link-to "note" note class="list-group-item"}}
        <img {{bind-attr src=note.avatar}} style="width:60px;height:60px" class="img-circle">
        <i class="fa fa-newspaper-o fa-1x"></i>
        <b>{{showTitle note.body}}</b>
        <small style="font-family:courier,'new courier';" class="text-muted pull-right" id="show_date">
          {{{date note.updated_at}}}
        </small>
        <button {{action 'gotoEdit' note}} class="btn btn-large btn-warning pull-right" id="edit_button" style="display:none;">Edit <i class="fa fa-pencil"></i></button>
      {{/link-to}}
    </div>
  {{/each}}
</div>

{{pagination-links page=page pages=pages}}

