!!!
%html
  %head
    %title EnlightenmentApp
    = stylesheet_link_tag 'holo/holo', media: 'all'
    = javascript_include_tag 'application'
    %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
    = csrf_meta_tags
  %body{class: request[:controller].gsub('/','_')}
    #ember-app{ style: controller.controller_name != 'dashboard' ? 'display: none;' : '' }




    - if false 
      .page-container
        / top navbar
        %nav.navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
          .navbar-header
            %button.navbar-toggle{'data-target' => '.sidebar-nav', 'data-toggle' => 'offcanvas', :type => 'button'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to '<i class="fa fa-sun-o fa-1x"> getE</i>'.html_safe, root_url, class: 'navbar-brand'
          - if current_user
            .container-fluid
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                    - if current_user.username.present?
                      = "<i class='fa fa-user'></i> #{current_user.username}".html_safe
                    - else
                      = "<i class='fa fa-user'></i> #{current_user.email}".html_safe
                    %span.caret
                  %ul.dropdown-menu{:role => 'menu'}
                    %li
                      = link_to "<i class='fa fa-pencil-square-o'></i> Profile".html_safe, edit_user_path(current_user)
                    %li
                      = link_to "<i class='fa fa-cog'></i> Edit account".html_safe, edit_user_registration_path
                    %li.divider
                    %li
                      = link_to "<i class='fa fa-arrow-circle-down'></i> Logout".html_safe, destroy_user_session_path, method: 'delete'
          - else
            .container-fluid
              %ul.nav.navbar-nav.navbar-right
                = link_to 'Log in', new_user_session_path, class: 'btn btn-lg btn-success'
        - flash_messages = {[:info, :alert, 'alert-success'] => notice, [:error, :alert, 'alert-danger'] => alert}.reject{|k, m| m.blank?}
        - if flash_messages.any?
          .flash-messages
            - flash_messages.each do |classes, message|
              .flash-message{class: classes.map(&:to_s).join(' ') }
                %button.close{ 'data-dismiss' => 'alert' }
                %span.message= message
        .container-fluid
          .row.row-offcanvas.row-offcanvas-left
            - if current_user
              #sidebar.col-xs-6.col-sm-2.sidebar-offcanvas{:role => 'navigation'}
                %div{'data-offset-bottom' => '90', 'data-offset-top' => '45', 'data-spy' => 'affix'}
                  %ul#sidebar-nav.nav
                    %li
                      = link_to '<i class="fa fa-tachometer"></i> Dashboard'.html_safe, '#content_entities'
                    %li
                      = link_to '<i class="fa fa-globe"></i> Links'.html_safe, '#/links'
                    %li
                      = link_to '<i class="fa fa-newspaper-o"></i> Notes'.html_safe, '#/notes'
                    %hr/
                    %li
                      = link_to '<i class="fa fa-users"></i> Groups'.html_safe, groups_path
                    - unless current_user.groups.nil?
                      - current_user.groups.each do |group|
                        %li{style: 'text-indent: 15px;'}
                          = link_to "<i class='fa fa-circle'></i> #{group.name}".html_safe, group_path(group)
            - else
              #sidebar.col-xs-6.col-sm-2.sidebar-offcanvas{:role => 'navigation'}
                %div{'data-offset-bottom' => '90', 'data-offset-top' => '45', 'data-spy' => 'affix'}
                  %ul#sidebar-nav.nav
                    %li Welcome guest!
            / /sidebar
            / /main
            .col-xs-12.col-sm-10{'data-spy' => 'scroll', 'data-target' => '#sidebar-nav'}
              #ember-app{ style: controller.controller_name != 'dashboard' ? 'display: none;' : '' }
              = yield
