!!!
%html
  %head
    %title EnlightenmentApp
    = stylesheet_link_tag 'holo/holo', media: 'all'
    = javascript_include_tag 'application'
    %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
    = csrf_meta_tags
  %body{class: request[:controller].gsub('/','_')}
    .page-container
      / top navbar
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
        .navbar-header
          %button.navbar-toggle{'data-target' => '.sidebar-nav', 'data-toggle' => 'offcanvas', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Enlightenment App', root_url, class: 'navbar-brand'
        - if current_user
          .container-fluid
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                  = current_user.email
                  %span.caret
                %ul.dropdown-menu{:role => 'menu'}
                  %li
                    = link_to 'Profile', edit_user_path(current_user)
                  %li
                    = link_to 'Edit account', edit_user_registration_path
                  %li.divider
                  %li
                    = link_to 'Logout', destroy_user_session_path, method: 'delete'
        - else
          .container-fluid
            %ul.nav.navbar-nav.navbar-right
              = link_to 'Log in', new_user_session_path
      - flash_messages = {[:info, :alert, 'alert-success'] => notice, [:error, :alert, 'alert-error'] => alert}.reject{|k, m| m.blank?}
      - if flash_messages.any?
        .flash-messages
          - flash_messages.each do |classes, message|
            .flash-message{class: classes.map(&:to_s).join(' ') }
              %button.close{ 'data-dismiss' => 'alert' }
              %span.message= message
      .container-fluid
        .row.row-offcanvas.row-offcanvas-left
          - if current_user
            #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => 'navigation'}
              %div{'data-offset-bottom' => '90', 'data-offset-top' => '45', 'data-spy' => 'affix'}
                %ul#sidebar-nav.nav
                  %li
                    = link_to 'Dashboard', '#content_entities'
                  %li
                    = link_to 'Links', '#/links'
                  %li
                    = link_to 'Notes', '#/notes'
                  %hr/
                  %li
                    = link_to '<b>Groups</b>'.html_safe, groups_path
                  - unless current_user.groups.nil?
                    - current_user.groups.each do |group|
                      %li{style: 'text-indent: 20px;'}
                        = link_to group.name, group_path(group)
          - else
            #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => 'navigation'}
              %div{'data-offset-bottom' => '90', 'data-offset-top' => '45', 'data-spy' => 'affix'}
                %ul#sidebar-nav.nav
                  %li Welcome guest!
          / /sidebar
          / /main
          .col-xs-12.col-sm-9{'data-spy' => 'scroll', 'data-target' => '#sidebar-nav'}
            #ember-app{ style: controller.controller_name != 'dashboard' ? 'display: none;' : '' }
            = yield
